# set a prior on the age of the root, the time that all species in the data share a common ancestor
lognormal(0,10,1.8)    crown   KP,TE,PNG,CY,EC,Malb,Mlun
# set a prior on the divergence within Entomyzon across the CB
lognormal(0,1.8,0.2)	crown	KP,TE,PNG,CY,EC
monophyletic	NA	PNG,CY,EC
monophyletic	NA	KP,TE
monophyletic	NA	PNG,CY

